.autocomplateOption {
    width: 600px;
    margin: 24px;
}

.autocomplateOption .mat-input-container {
    margin-top: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.autocomplate-secondary-text {
    color: rgba(0, 0, 0, 0.54);
    margin-left: 8px;
}